###### From cookiecutter ######
click
Sphinx
coverage
flake8

###### Testing  ######
#mock
#nose

###### Utilities  ######
#cycler
#decorator
#dill
#jsonschema
#path.py
#pexpect
#pickleshare
tqdm
#traitlets

###### Interactive  ######
jupyter
nbconvert

###### Analytics  ######
#h5py
#keras
#missingno
#networkx
numpy
pandas
patsy
python-dateutil
pytz
scikit-learn
scipy
seaborn
statsmodels
#tensorflow
#xgboost

###### Optimization  ######
#pandas-profiling
#hyperopt
